.map-page {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.map-container {
    width: calc(100% - 20px);
    margin: 10px;
    height:100vh; 
    /*width: 100vw;*/
  }

  .search-bar {
    background-color: #4282CA;
    padding: 5px;
    margin: 10px;
  }
  
  .search-bar form {
    display: inline-block;
    justify-content: left;
  }
  
  .search-bar input[type="text"] {
    border: none;
    padding: 5px;
    width: 80%;
  }
  
  .search-bar button[type="submit"] {
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }

  .search-bar button {
    border: 1px solid white;
    color: white;
  }

  .search-bar span {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: medium;
    color: white; 
  }

  .alert-msg {
    padding: 20px;
    margin-top: 5px;
    color: #970020;
    background-color: #ffd5de;
}

/* Main theme style */
body {
	font-family: 'Teko', sans-serif;
}
.navbar-nav a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-brand span {
	color: green;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
	background-color: #f7f5eb;
}
.carousel-caption {
	bottom: 0;
	z-index: 2;
	text-align: left;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	color: #262626;
}
.carousel-caption p {
	font-size: 18px;
	line-height: 1.9;
	color: #262626;
}
.banner-info .btn {
	padding: 10px 60px;
	font-size: 30px;
	text-transform: uppercase;
	color: #ffff;
	background: green;
}
.banner-info {
	padding-top: 25%;
}
.imgBox img {
	width: 650px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 60px;
	width: 60px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	background-image: none;
	color: #fff;
	background: green;
}
.carousel-control-next-icon:after {
	content: '>';
	font-size: 50px;
	color: #fff;
}
.carousel-control-prev-icon:after {
	content: '<';
	font-size: 50px;
	color: #fff;
}
.carousel-indicators [data-bs-target] {
	background-color: green;
}
.navbar-light .navbar-toggler {
	color: #FFF;
	border-color: transparent;
	background: green;
}


/* Main theme style on smaller screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: green;
	}
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.navbar-collapse .nav-link {
		color: #fff !important;
	}
	.carousel-caption {
		bottom: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: green;
	}
	.navbar-collapse .nav-link {
		color: #fff !important;
	}
	.carousel-caption {
		bottom: 0;
		text-align: center;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.banner-info .btn {
		padding: 0 15px;
		font-size: 20px;
	}
	.imgBox .img-fluid {
		max-width: 80%;
		height: auto;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 50px;
		width: 50px;
	}
	.carousel-control-next-icon:after {
		font-size: 30px;
	}
	.carousel-control-prev-icon:after {
		font-size: 30px;
	}
}


/* Travel list style (form and list) */
#regForm {
    margin: 5px auto;
    font-family: Raleway;
    padding: 5px;
}
input {
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}
.tab input:focus{
  border:1px solid #6a1b9a !important;
  outline: none;
}
input.invalid {
    border:1px solid #e03a0666;
}
.tab {
    font-family: Raleway;
	width: 80%;
}
button {
    border: none;
    border-radius: 0%; /* 50% to make icon a circle */
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}
button:hover {
    opacity: 0.8
}
button:focus{
  outline: none !important;
}
.empty{
    color: black;
}
.filled{
	background-color: green;
    color: #ffffff;
}
.all-steps{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: left;
}
.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6a1b9a;
    opacity: 0.5;
}
.step.active {
    opacity: 1
}
.step.finish {
   color: #fff;
   background: #6a1b9a;
   opacity: 1;

}
.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}
.travel {
	padding: 10px;
	margin: 5px;
	background-color: #f3f3f3
}  
.travels-list {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
}
.orderBar {
	background-color: aqua;
	text-align: right;
	justify-content: right;
}
/*
.b1{
	 border: 1px solid #000; 
}
*/