html, body {
  height: 100%;
}

.main-content {
  height: 100%;
}
/*
#home {
  background-image: url('/static/images/main-bg.jpg');
  background-size: cover;
}

#travelslist {
  background-image: url('/static/images/map.jpg');
  background-size: cover;
  height: 100hv;
}
*/

.map-container {
    width: calc(100% - 20px);
    margin: 10px;
    height:100vh; 
    /*width: 100vw;*/
  }

.search-bar {
    background-color: #4282CA;
    padding: 5px;
    margin: 10px;
  }
  
  .search-bar form {
    display: inline-block;
    justify-content: left;
  }
  
  .search-bar input[type="text"] {
    border: none;
    padding: 5px;
    width: 80%;
  }
  
  .search-bar button[type="submit"] {
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }

  .search-bar button {
    border: 1px solid white;
    color: white;
  }

  .search-bar span {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: medium;
    color: white; 
  }

  .alert-msg {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.travel {
  padding: 10px;
  margin: 5px;
  background-color: #f3f3f3
}

