{% extends 'base.html' %}

{% block head %}
{{ header|safe }}    
{% endblock %}

{% block content %}
  <div class="container mt-5 map-page">
    <!-- Barra di ricerca e pulsanti -->
    <form method="POST" class="row gx-3 gy-2 align-items-center">
      <div class="col-sm-3">
        <label class="visually-hidden" for="address">Search</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="find your location" value="{{ request.form['address'] }}">
      </div>
      <div class="col-sm-3">
        <label class="visually-hidden" for="location">location</label>
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input type="text" class="form-control" id="location" placeholder="empty">
        </div>
      </div>
      <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <!-- Error Messages -->
    {% if error_message %}
      <div class="alert alert-danger mt-3" role="alert">
        {{ error_message }}
      </div>
    {% endif %}
    <div class="map-container">
        {{ body_html|safe }}
    </div>
  </div>
{% endblock %}

{% block script %}
    {{ script|safe }}
{% endblock %}