<!-- Navbar  (rimosso fixed-top da nav)-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top bg-white">
    <div class="container">
      <a class="navbar-brand" href="#"><span>My</span>Travels</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('map') }}">Map</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>    
          {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('login') }}" class="nav-link">
                  Login
              </a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('registrazione') }}" class="nav-link">
                  Sign Up
              </a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">              
              <a href="{{ url_for('profile') }}" class="nav-link">
                Profile
              </a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('logout') }}" class="nav-link">
                Logout
              </a>
            </li>
            {% endif %}     
        </ul>
      </div>
    </div>
  </nav>