{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 travels-list">
    <h1>{% block title %} Travels {% endblock %}</h1>
    
    <div class="list-group">
        {% for travel in travels %}
        <a href="#travel{{travel['id']}}" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
            <span class="float-start">{{ travel['country'] }},  {{ travel['city'] }}</span>
            <span class="float-end">{{ travel['arr_date'].year }}</span>
        </a>
        <div class="collapse list-group-item" id="travel{{travel['id']}}">
          <p>arrival date:{{ travel['arr_date'] }} <br> departure date:{{ travel['dep_date'] }}</p>
          <p>type: {{travel['type']}}  <br>   hotel: {{travel['hotel']}} <br> cost: {{travel['cost']}}</p>
          <p>notes: {{travel['notes']}}</p>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}
